*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
h1{
    text-align: center;
    margin-bottom: 40px;
}
.btns{
    display: flex;
}
.btns button{
    padding: 15px 30px;
    border: none;
    outline: none;
    background-color: black;
    color: black;
    font-weight: 700;
    margin-inline: 10px;
    cursor: pointer;
}
.btns button:nth-child(1){
    background-color: red;  
}
.btns button:nth-child(2){
    background-color: green;
}
.btns button:nth-child(3){
    background-color: blue;
}
.btns button:nth-child(4){
    background-color: yellow;
}
.btns button:nth-child(5){
    background-color: orange;
}
.btns button:nth-child(6){
    background-color: skyblue;
}